/* .container {
  padding: 10px;
  display: flex;
}

mat-card {
  width: 400px;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
} */

.table th {
  border: solid 1px black;
  padding: 10px;
  background: lightgrey;
}

.table td {
  border: solid 1px black;
  padding: 10px;
}

.student-card {
  display: inline-block;
}
